.bills {
    border: 2px solid rgba(156, 161, 85, 0.15);
    border-radius: 20px;
    background-color: rgba(244, 248, 183, 0.1);
    width: 800px;
}

.description {
    margin-left: 5px;
    background-color: rgba(165, 42, 42, 0.445);
}

.amount {
    border-left: 1px dashed rgb(179, 101, 0);
    border-right: 1px dashed rgb(179, 101, 0);
    border-collapse: collapse;
    background-color: rgba(250, 235, 215);
    margin-right: -5px;
}

.bill-table {
    padding-bottom: 20px;
    padding-left: 20px;
    border-spacing: 0 1px;
}

.titles-bill-table td {
    font-weight: bold;
}

.bill-table td {
    padding: 5px;
}

.titles-bill-table td {
    border-top: 1px solid black;
}

.money-bill-table td {
    border-bottom: 1px solid black;
}